
<!--==============================header=================================-->
<header>
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <h1>
                        <a href="index.html" style="font-family:'Courier New', Courier, monospace;">
                            <img src="/assets/images/bluenovelty.JPG" width="300px" height="70px" style="border-radius: 20px;">
                        </a>
                    </h1>
                    <div class="menu_block">
                        <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                            <ul class="sf-menu">
                                <li><input class="form-control" type="text" placeholder="Search...."></li>
                                <li><a (click)="nav('login')">Login</a></li>
                                <li><a (click)="nav('sign-up')">Sign up</a></li>
                            </ul>
                        </nav>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main">
    
<!--=====================Content======================-->
    
    <section class="content">
        <div class="container">
            <div class="row">
                <label>Name&nbsp;:&nbsp;</label><input class="form-control" type="text">
            </div>
        </div>
        
    </section>
<!--==============================Bot_block=================================-->
    <section class="bottom_block">
        <div class="container">
            <div class="row">
                <div class="grid_5">
                    <div class="bot_title">
                        <span class="fa fa-envelope-o"></span>Subscribe to My Events
                    </div>
                </div>
                <div class="grid_7">
                    <form id="newsletter">
                        <div class="row">
                            <div class="" style="width: 370px;">
                                <div class="rel">
                                    <div class="success">Your subscrsibe request has been sent!</div>
                                    <label class="email">
                                        <input type="email" value="Your Email Address Here" >
                                        <span class="error">*This is not a valid email address.</span>
                                        <span class="clear"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="grid_3">
                                <a href="#" class="btn bt__2" data-type="submit">Submit</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<!--==============================footer=================================-->
<footer>
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <div class="footer_socials">
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-google-plus"></a>
                    <a href="#" class="fa fa-pinterest"></a>
                </div>
                <div class="copy">
                    <span class="brand">Blue Novelty</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
                    <div class="sub_copy">
                        Website designed by <a href="http://www.mit.co.za" rel="nofollow">mit.co.za</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>