<!--==============================header=================================-->
<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div id="stuck_container">
          <div class="container">
              <div class="row">
                  <div class="grid_12">
                      <h1 id="logo" (click)="nav('')">Blue Novelty</h1>
                      <div class="search">
                      <form class="example" action="/action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  </div>
  
                      <div class="menu_block">
                          <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                              <ul class="sf-menu">
  
  
                                  <li><a (click)="nav('login')">LOGIN</a></li>
                                  <li><a (click)="nav('sign-up')">SIGN UP</a></li>
                              </ul>
                          </nav>
                          <div class="clear"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <div class="main"><br>
    <div class="signup_info">
        <div>
            <ul style="padding:10px;">
                <li class="item"><label class="signin_label" style="padding-right: 250px;">Name&nbsp;:&nbsp;</label>
                <input class="form-control" type="text" [(ngModel)]="sign_up.name"></li>
                <li class="item"><label class="signin_label" style="padding-right: 211px;">Surname&nbsp;:&nbsp;</label>
                <input class="form-control" type="text" [(ngModel)]="sign_up.surname"></li>
                <li class="item"><label class="signin_label" style="padding-right: 137px;">Company Name&nbsp;:&nbsp;</label>
                <input class="form-control" type="text" [(ngModel)]="sign_up.company_name"></li>
                <li class="item">
                    <label class="signin_label" style="padding-right: 250px;">Email&nbsp;:&nbsp;</label>
                    <input class="form-control" type="text" [(ngModel)]="sign_up.email"></li>
                <li class="item">
                    <label class="signin_label" style="padding-right: 200px;">Password&nbsp;:&nbsp;</label>
                    <input class="form-control" type="password" [(ngModel)]="sign_up.password"></li>
                <li class="item">
                    <label class="signin_label" style="padding-right: 95px;">Re-enter Password&nbsp;:&nbsp;</label>
                    <input class="form-control" type="password" [(ngModel)]="password" (keypress)="checkPasswordMatch()"/></li>
                <li class="item" *ngIf="checkPassword">
                    <label class="" style="padding-right: 250px;color: red;">Passwords do not match</label>
                    </li>
                <li class="item"><label class="signin_label" style="padding-right: 255px;">D.O.B&nbsp;:&nbsp;</label>
                <input class="form-control" type="text" [(ngModel)]="sign_up.dob"></li>
                <li class="item"><label class="signin_label" style="padding-right: 228px;">Gender&nbsp;:&nbsp;</label>
                <select [(ngModel)]="sign_up.gender">
                    <option></option>
                    <option>Male</option>
                    <option>Female</option>
                </select></li>
                <li class="item"><label class="signin_label" style="padding-right: 165px;">Content Type&nbsp;:&nbsp;</label>
                    <select [(ngModel)]="sign_up.content_type">
                    <option></option>
                    <option>Photography</option>
                    <option>Videography</option>
                </select></li>
                <li class="item"><label class="signin_label" style="padding-right: 10px;">Which field of photography&nbsp;:&nbsp;</label>
                    <select [(ngModel)]="sign_up.which_photography">
                        <option></option>
                        <option>Advertisement</option>
                        <option>Aerial</option>
                        <option>Architectural/Real Estate</option>
                        <option>Black and White</option>
                        <option>Event</option>
                        <option>Fashion</option>
                        <option>Food</option>
                        <option>Landscape</option>
                        <option>Lifestyle</option>
                        <option>Maternity</option>
                        <option>Pet</option>
                        <option>Photojournalism</option>
                        <option>Portrait</option>
                        <option>Product</option>
                        <option>Sports</option>
                        <option>Studio</option>
                        <option>Travel</option>
                        <option>Wildlife</option>
                        <option>Wedding</option>
                    </select></li>
                        <li class="item"><label class="signin_label" style="padding-right: 10px;">Which field of photography&nbsp;:&nbsp;</label>
                        <select [(ngModel)]="sign_up.which_photography1">
                                <option>Aerial (Drone)</option>
                                <option>Time-Lapse</option>
                                <option>Vlog</option>
                                <option>Architectural Photographer</option>
                                <option>Advertisement</option>
                                <option>Aerial</option>
                                <option>Architectural/Real Estate</option>
                                <option>Black and White</option>
                                <option>Event</option>
                                <option>Fashion</option>
                                <option>Food</option>
                                <option>Landscape</option>
                                <option>Lifestyle</option>
                                <option>Maternity</option>
                                <option>Pet</option>
                                <option>Photojournalism</option>
                                <option>Portrait</option>
                                <option>Product</option>
                                <option>Sports</option>
                                <option>Studio</option>
                                <option>Travel</option>
                                <option>Wildlife</option>
                                <option>Wedding</option>
                            </select></li>
                            <li class="item">
                                <label class="signin_label" style="padding-right: 200px;">User&nbsp;Type&nbsp;:&nbsp;</label>
                                <select [(ngModel)]="sign_up.user_type">
                                    <option></option>
                                    <option>Photographer</option>
                                    <option>User</option>
                                </select>
                            </li>
                            <li class="item">
                                <label class="signin_label" style="padding-right: 160px;">Profile&nbsp;Image&nbsp;:&nbsp;</label>
                                <input class="form-control" type="file" (change)="onFileSelect($event)" [(ngModel)]="sign_up.profile_img">
                            </li>
            </ul>
            <button type="button" class="btn bt__2 sign_btn" (click)="submit()">Submit</button>
            <button type="button" class="btn bt__2 sign_btn" (click)="clear()">Clear</button>
        </div>        
    </div>
    </div>
      <!--==============================Bot_block=================================-->
      <section class="bottom_block">
          <div class="container">
              <div class="row">
                  <div class="grid_5">
                      <div class="bot_title">
                          <span class="fa fa-envelope-o"></span>Subscribe to My Events
                      </div>
                  </div>
                  <div class="grid_7">
                      <form id="newsletter">
                          <div class="row">
                              <div class="" style="width: 370px;">
                                  <div class="rel">
                                      <div class="success">Your subscrsibe request has been sent!</div>
                                      <label class="email">
                                              <input type="email" value="Your Email Address Here" >
                                              <span class="error">*This is not a valid email address.</span>
                                              <span class="clear"></span>
                                          </label>
                                  </div>
                              </div>
                              <div class="grid_3">
                                  <a href="#" class="btn bt__2" data-type="submit">Submit</a>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </section>
  
  <!--==============================footer=================================-->
  <footer>
      <div class="container">
          <div class="row">
              <div class="grid_12">
                  <div class="footer_socials">
                      <a href="#" class="fa fa-twitter"></a>
                      <a href="#" class="fa fa-facebook"></a>
                      <a href="#" class="fa fa-google-plus"></a>
                      <a href="#" class="fa fa-pinterest"></a>
                  </div>
                  <div class="copy">
                      <span class="brand">Blue Novelty</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
                      <div class="sub_copy">
                          Developed by <a href="http://www.mitconsulting.co.za" rel="nofollow">mitconsulting.co.za</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  
