.tutorial_text{
    position: absolute;
    width: 80px;
    color: black;
    font-weight: bolder;
}
.tutorial_text1{
    top: 330px;
    left: 250px;
    border-radius: 10px;
    border: black solid thin;
    padding: 10px;
}
.tutorial_text2{
    top: 140px;
    left: 690px;
    border-radius: 10px;
    border: black solid thin;
    padding: 5px;
    padding-right: 20px;
}
.tutorial_holder{
    padding-left: 15.5%;
    display: inline-block;
}