<script>
	
	</script>
	<!--[if lt IE 8]>
	<div style=' clear: both; text-align:center; position: relative;'>
		<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
			<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
		</a>
	</div>
	<![endif]-->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<link rel="stylesheet" media="screen" href="css/ie.css">
	<![endif]-->
<!-- </head> -->
<!-- <body class="page1" id="top"> -->
<!--==============================header=================================-->
	<header>
		<div id="stuck_container">
			<div class="container">
				<div class="row">
					<div class="grid_12">
						<h1>
							<a href="index.html" style="font-family:'Courier New', Courier, monospace;">
								<img src="/assets/images/bluenovelty.JPG" width="300px" height="70px" style="border-radius: 20px;">
							</a>
						</h1>
						<div class="menu_block">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li><input class="form-control" type="text" placeholder="Search...."></li>
									<li><a href="index-1.html">Login</a></li>
									<li><a href="index-2.html">Sign up</a></li>
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="main"><br>
		<div style="border: solid thick white;border-radius: 20px; max-width: 70%;margin-left: 15%;">
		<ng-image-slider [images]="imageObject"
		[infinite]="true"
		[autoSlide]="1"
		[imageSize]="{width: '25%', height: 200}"
		slideImage="1"></ng-image-slider>
	</div><br>
		<!-- <div id="owl">
			<div class="item"><img src="/assets/images/casourel.jpg" alt="" style="border-radius: 100px;"></div>
			<div class="item"><img src="/assets/images/casourel1.jpg" alt="" style="border-radius: 100px;"></div>
			<div class="item"><img src="/assets/images/casourel2.jpg" alt="" style="border-radius: 100px;"></div>
			<div class="item"><img src="/assets/images/casourel3.jpg" alt="" style="border-radius: 100px;"></div>
			<div class="item"><img src="/assets/images/casourel4.jpg" alt="" style="border-radius: 100px;"></div>
			<div class="item"><img src="/assets/images/casourel5.jpg" alt="" style="border-radius: 100px;"></div>
			<div class="item"><img src="/assets/images/casourel6.jpg" alt="" style="border-radius: 100px;"></div>
			<div class="item"><img src="/assets/images/casourel7.jpg" alt="" style="border-radius: 100px;"></div>
			<div class="item"><img src="/assets/images/casourel1.jpg" alt="" style="border-radius: 100px;"></div>
			<div class="item"><img src="/assets/images/casourel2.jpg" alt="" style="border-radius: 100px;"></div>
			<div class="item"><img src="/assets/images/casourel3.jpg" alt="" style="border-radius: 100px;"></div>
			<div class="item"><img src="/assets/images/casourel4.jpg" alt="" style="border-radius: 100px;"></div>
			<div class="item"><img src="/assets/images/casourel5.jpg" alt="" style="border-radius: 100px;"></div>
			<div class="item"><img src="/assets/images/casourel6.jpg" alt="" style="border-radius: 100px;"></div>
		</div> -->
<!--=====================Content======================-->
		
		<section class="content">
			<div class="container">
				<div class="row">
					<div class="grid_12">
						<h2>Profiles</h2>
						<div class="gallery">
							<div class="row">
								<div class="grid_4">
									<article class="" role="presentation" tabindex="-1">
										<header class="">
											<div class="">
												<div class="" aria-disabled="false" role="button" tabindex="0">													
													<span class="_2dbep " role="link" style="width: 52px; height: 52px;">
														<img alt="profile image" class="" style="padding-top: 10px; padding-left: 10px; width: 52px; height: 52px; border-radius: 30px;" data-testid="user-avatar" draggable="false" 
														src="/assets/images/ph1.jpg">
													</span>&nbsp;
													<span class="">
														<a class="" href="/assets/images/ph1.jpg" tabindex="0" style="padding-top: 50px;">Profiles name</a>
													</span>
												</div>
											</div>											
										</header><hr>										
										<div class="">
											<div class="gal_item" role="button" tabindex="-1">
												<div class="" style="width: 100%;">
													<img alt="Photographers Photo" class="" style="object-fit: cover;width: 100%;" 
													src="/assets/images/ph1.jpg">
													<div class="gal_caption">Photographer Name</div>
													<span class="gal_magnify"></span>
												</div>
											</div>
										</div>
									</article>
								</div>
								<div class="grid_4">
									<article class="" role="presentation" tabindex="-1">
										<header class="">
											<div class="">
												<div class="" aria-disabled="false" role="button" tabindex="0">													
													<span class="_2dbep " role="link" style="width: 52px; height: 52px;">
														<img alt="profile image" class="" style="padding-top: 10px; padding-left: 10px; width: 52px; height: 52px; border-radius: 30px;" data-testid="user-avatar" draggable="false" 
														src="/assets/images/ph2.jpg">
													</span>&nbsp;
													<span class="">
														<a class="" href="/assets/images/ph2.jpg" tabindex="0" style="padding-top: 50px;">Profiles name</a>
													</span>
												</div>
											</div>											
										</header><hr>										
										<div class="">
											<div class="gal_item" role="button" tabindex="-1">
												<div class="" style="width: 100%;">
													<img alt="Photographers Photo" class="" style="object-fit: cover;width: 100%;" 
													src="/assets/images/ph2.jpg">
													<div class="gal_caption">Photographer Name</div>
													<span class="gal_magnify"></span>
												</div>
											</div>
										</div>
									</article>
								</div>
								<div class="grid_4">
									<article class="" role="presentation" tabindex="-1">
										<header class="">
											<div class="">
												<div class="" aria-disabled="false" role="button" tabindex="0">													
													<span class="_2dbep " role="link" style="width: 52px; height: 52px;">
														<img alt="profile image" class="" style="padding-top: 10px; padding-left: 10px; width: 52px; height: 52px; border-radius: 30px;" data-testid="user-avatar" draggable="false" 
														src="/assets/images/ph3.jpg">
													</span>&nbsp;
													<span class="">
														<a class="" href="/assets/images/ph3.jpg" tabindex="0" style="padding-top: 50px;">Profiles name</a>
													</span>
												</div>
											</div>											
										</header><hr>										
										<div class="">
											<div class="gal_item" role="button" tabindex="-1">
												<div class="" style="width: 100%;">
													<img alt="Photographers Photo" class="" style="object-fit: cover;width: 100%;" 
													src="/assets/images/ph3.jpg">
													<div class="gal_caption">Photographer Name</div>
													<span class="gal_magnify"></span>
												</div>
											</div>
										</div>
									</article>
								</div>
								<div class="grid_4">
									<article class="" role="presentation" tabindex="-1">
										<header class="">
											<div class="">
												<div class="" aria-disabled="false" role="button" tabindex="0">													
													<span class="_2dbep " role="link" style="width: 52px; height: 52px;">
														<img alt="profile image" class="" style="padding-top: 10px; padding-left: 10px; width: 52px; height: 52px; border-radius: 30px;" data-testid="user-avatar" draggable="false" 
														src="/assets/images/ph4.jpg">
													</span>&nbsp;
													<span class="">
														<a class="" href="/assets/images/ph4.jpg" tabindex="0" style="padding-top: 50px;">Profiles name</a>
													</span>
												</div>
											</div>											
										</header><hr>										
										<div class="">
											<div class="gal_item" role="button" tabindex="-1">
												<div class="" style="width: 100%;">
													<img alt="Photographers Photo" class="" style="object-fit: cover;width: 100%;" 
													src="/assets/images/ph4.jpg">
													<div class="gal_caption">Photographer Name</div>
													<span class="gal_magnify"></span>
												</div>
											</div>
										</div>
									</article>
								</div>
								<div class="grid_4">
									<article class="" role="presentation" tabindex="-1">
										<header class="">
											<div class="">
												<div class="" aria-disabled="false" role="button" tabindex="0">													
													<span class="_2dbep " role="link" style="width: 52px; height: 52px;">
														<img alt="profile image" class="" style="padding-top: 10px; padding-left: 10px; width: 52px; height: 52px; border-radius: 30px;" data-testid="user-avatar" draggable="false" 
														src="/assets/images/ph5.jpg">
													</span>&nbsp;
													<span class="">
														<a class="" href="/assets/images/ph5.jpg" tabindex="0" style="padding-top: 50px;">Profiles name</a>
													</span>
												</div>
											</div>											
										</header><hr>										
										<div class="">
											<div class="gal_item" role="button" tabindex="-1">
												<div class="" style="width: 100%;">
													<img alt="Photographers Photo" class="" style="object-fit: cover;width: 100%;" 
													src="/assets/images/ph5.jpg">
													<div class="gal_caption">Photographer Name</div>
													<span class="gal_magnify"></span>
												</div>
											</div>
										</div>
									</article>
								</div>
								<div class="grid_4">
									<article class="" role="presentation" tabindex="-1">
										<header class="">
											<div class="">
												<div class="" aria-disabled="false" role="button" tabindex="0">													
													<span class="_2dbep " role="link" style="width: 52px; height: 52px;">
														<img alt="profile image" class="" style="padding-top: 10px; padding-left: 10px; width: 52px; height: 52px; border-radius: 30px;" data-testid="user-avatar" draggable="false" 
														src="/assets/images/ph6.jpg">
													</span>&nbsp;
													<span class="">
														<a class="" href="/assets/images/ph6.jpg" tabindex="0" style="padding-top: 50px;">Profiles name</a>
													</span>
												</div>
											</div>											
										</header><hr>										
										<div class="">
											<div class="gal_item" role="button" tabindex="-1">
												<div class="" style="width: 100%;">
													<img alt="Photographers Photo" class="" style="object-fit: cover;width: 100%;" 
													src="/assets/images/ph6.jpg">
													<div class="gal_caption">Photographer Name</div>
													<span class="gal_magnify"></span>
												</div>
											</div>
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
			
		</section>
<!--==============================Bot_block=================================-->
		<section class="bottom_block">
			<div class="container">
				<div class="row">
					<div class="grid_5">
						<div class="bot_title">
							<span class="fa fa-envelope-o"></span>Subscribe to My Events
						</div>
					</div>
					<div class="grid_7">
						<form id="newsletter">
							<div class="row">
								<div class="" style="width: 370px;">
									<div class="rel">
										<div class="success">Your subscrsibe request has been sent!</div>
										<label class="email">
											<input type="email" value="Your Email Address Here" >
											<span class="error">*This is not a valid email address.</span>
											<span class="clear"></span>
										</label>
									</div>
								</div>
								<div class="grid_3">
									<a href="#" class="btn bt__2" data-type="submit">Submit</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
<!--==============================footer=================================-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="grid_12">
					<div class="footer_socials">
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-google-plus"></a>
						<a href="#" class="fa fa-pinterest"></a>
					</div>
					<div class="copy">
						<span class="brand">Blue Novelty</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
						<div class="sub_copy">
							Website designed by <a href="http://www.lemogamedia.co.za/tthale" rel="nofollow">tthale.co.za</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>