.tutorial_text{
    position: absolute;
    width: 80px;
    color: black;
    font-weight: bolder;
}
.tutorial_text1{
    top: 330px;
    left: 250px;
}
.tutorial_holder{
    padding-left: 15.5%;
    display: inline-block;
}