<!--==============================header=================================-->
<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div id="stuck_container">
          <div class="container">
              <div class="row">
                  <div class="grid_12">
                    <h1 id="logo" (click)="nav('')">Blue Novelty</h1>
                      <div class="search">
                      <form class="example" action="/action_page.php">
  <!--<input type="text" placeholder="Search.." name="search">-->
  <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  </div>
                      <div class="menu_block">
                          <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                              <ul class="sf-menu">
                                  <!--<li><a class="btn btn-primary" (click)="nav('login')">LOGIN</a></li>
                                  <li><a class="btn btn-primary" (click)="nav('sign-up')">SIGN UP</a></li>
                                  <li><a (click)="nav('sign-up')">PHOTOGRAPHERS</a></li>
                                  <li><a  (click)="nav('sign-up')">HOW TO REGISTER</a></li>-->
                                  <li><a (click)="nav('login')">LOGIN </a></li>
                                  <li><a  (click)="nav('sign-up')">SIGN UP</a></li>
                                  <li><a (click)="nav('sign-up')">PHOTOGRAPHERS</a></li>
                                  <li><a  (click)="nav('sign-up')">HOW TO REGISTER</a></li>
                              </ul>
                          </nav>
                          <div class="clear"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <div class="main"><br>
    <hr>
      <div class="tutorial_holder">
          <img src="/assets/images/home1.jpg" class="home_image">
          <div class="tutorial_text tutorial_text1" responsive>Take your freelance career in content creation to the next level.
          </div>
          <!-- <div style="width: 300px;height: 300px; border: dotted thin white;border-radius: 20px; float: left;">img left</div> -->
          <span>&nbsp;&nbsp;&nbsp;</span>
          <!-- <div style="width: 300px;height: 300px; border: dotted thin white; border-radius: 20px; float: left;">img right</div> -->
          <img src="/assets/images/home2.jpg" class="home_image">
          <div class="tutorial_text tutorial_text2" responsive>“Book a Photographer or freelance career in content creating Videographer Now.”.
          </div>
      </div><br><br>

      <!--=====================Content======================-->
<center>
 <div class="gallery_main">
   <div class="gallery2">

  <a target="_blank" href="assets/images/photographer-selecting-photos-RZPRBXK.jpg">
    <img src="assets/images/photographer-selecting-photos-RZPRBXK.jpg" alt="Cinque Terre">
  </a>
  <div class="desc">
    <a (click)="nav('profile')">View Profile</a> |
  <a (click)="nav('profile')">Book Now</a>

  </div>
</div>

<div class="gallery2">
  <a target="_blank" href="assets/images/page4_img1.jpg">
    <img src="assets/images/page4_img1.jpg" alt="Forest">
  </a>
  <div class="desc">  <a (click)="nav('profile')">View Profile</a> |
  <a  (click)="nav('profile')">Book Now</a>
</div>
</div>

<div class="gallery2">
  <a target="_blank" href="assets/images/professional-female.jpg">
    <img src="assets/images/professional-female.jpg" alt="Northern Lights">
  </a>
  <div class="desc">
    <a (click)="nav('profile')">View Profile</a> |
  <a (click)="nav('profile')">Book Now</a>
</div>

</div>

<div class="gallery2">
  <a target="_blank" href="assets/images/casourel3.jpg">
    <img src="assets/images/casourel3.jpg" alt="Mountains">
  </a>
  <div class="desc">
    <a (click)="nav('profile')">View Profile</a> |
  <a (click)="nav('profile')">Book Now</a>
</div>

</div>
</div>
</center>
  <br>
    <hr>
    <br>
      <section class="content">
          <div class="container">
              <div class="row">
                  <div class="grid_12">
                      <h3>DISCOVER STUNNING GALLERY FROM THE WORLDS BEST CREATORS</h3>
                      <div class="gallery">
                          <div class="row">
                              <div class="grid_4">
                                  <article class="" role="presentation" tabindex="-1">
                                      <header class="">
                                          <div class="">
                                              <div class="" aria-disabled="false" role="button" tabindex="0">
                                                  <span class="_2dbep " role="link" style="width: 52px; height: 52px;">
                                                          <img alt="profile image" class="" style="padding-top: 10px; padding-left: 10px; width: 52px; height: 52px; border-radius: 30px;" data-testid="user-avatar" draggable="false"
                                                          src="/assets/images/28feb-edits-30.jpg">
                                                      </span>&nbsp;
                                                  <span class="">
                                                          <a class="photog_name" href="/assets/images/28feb-edits-11.jpg"  >Tebogo Thale</a>
                                                          <br><div class="photo_type"><strong>Arts, Adventure, Weddings</strong></div>
                                                      </span>
                            <a href="#">Book Now</a>

                                              </div>
                                          </div>
                                      </header>
                                      <hr>
                                      <div class="">
                                          <div class="gal_item" role="button" tabindex="-1">
                                              <div class="" style="width: 100%;">
                                                  <img alt="Photographers Photo" class="" style="object-fit: cover;width: 100%;" src="/assets/images/28feb-edits-30.jpg">
                                                  <div class="gal_caption">Tebogo Thale</div>
                                                  <span class="gal_magnify"></span>
                                              </div>
                                          </div>
                                      </div>
                                  </article>
                              </div>
                              <div class="grid_4">
                                  <article class="" role="presentation" tabindex="-1">
                                      <header class="">
                                          <div class="">
                                              <div class="" aria-disabled="false" role="button" tabindex="0">
                                                  <span class="_2dbep " role="link" style="width: 52px; height: 52px;">
                                                          <img alt="profile image" class="" style="padding-top: 10px; padding-left: 10px; width: 52px; height: 52px; border-radius: 30px;" data-testid="user-avatar" draggable="false"
                                                          src="/assets/images/ph2.jpg">

                                                      </span>&nbsp;
                                                  <span class="">
                                                          <a class="" href="/assets/images/28 feb - edits-31.jpg" tabindex="0" style="padding-top: 50px;color: white;">Katlego Ntimane</a>
                                                      </span>
                                              </div>
                                          </div>
                                      </header>
                                      <hr>
                                      <div class="">
                                          <div class="gal_item" role="button" tabindex="-1">
                                              <div class="" style="width: 100%;">
                                                  <img alt="Photographers Photo" class="" style="object-fit: cover;width: 100%;" src="/assets/images/ph2.jpg">
                                                  <div class="gal_caption">Katlego Ntimane</div>
                                                  <span class="gal_magnify"></span>
                                              </div>
                                          </div>
                                      </div>
                                  </article>
                              </div>
                              <div class="grid_4">
                                  <article class="" role="presentation" tabindex="-1">
                                      <header class="">
                                          <div class="">
                                              <div class="" aria-disabled="false" role="button" tabindex="0">
                                                  <span class="_2dbep " role="link" style="width: 52px; height: 52px;">
                                                          <img alt="profile image" class="" style="padding-top: 10px; padding-left: 10px; width: 52px; height: 52px; border-radius: 30px;" data-testid="user-avatar" draggable="false"
                                                          src="/assets/images/ph3.jpg">
                                                      </span>&nbsp;
                                                  <span class="">
                                                          <a class="" href="/assets/images/ph3.jpg" tabindex="0" style="padding-top: 50px;color: white;">Kabelo Mokeona</a>
                                                      </span>
                                              </div>
                                          </div>
                                      </header>
                                      <hr>
                                      <div class="">
                                          <div class="gal_item" role="button" tabindex="-1">
                                              <div class="" style="width: 100%;">
                                                  <img alt="Photographers Photo" class="" style="object-fit: cover;width: 100%;" src="/assets/images/ph3.jpg">
                                                  <div class="gal_caption">Kabelo Mokeona</div>
                                                  <span class="gal_magnify"></span>
                                              </div>
                                          </div>
                                      </div>
                                  </article>
                              </div>
                              <div class="grid_4">
                                  <article class="" role="presentation" tabindex="-1">
                                      <header class="">
                                          <div class="">
                                              <div class="" aria-disabled="false" role="button" tabindex="0">
                                                  <span class="_2dbep " role="link" style="width: 52px; height: 52px;">
                                                          <img alt="profile image" class="" style="padding-top: 10px; padding-left: 10px; width: 52px; height: 52px; border-radius: 30px;" data-testid="user-avatar" draggable="false"
                                                          src="/assets/images/ph4.jpg">
                                                      </span>&nbsp;
                                                  <span class="">
                                                          <a class="" href="/assets/images/28 feb - edits-25.jpg" tabindex="0" style="padding-top: 50px;color: white;">Karabo Adams</a>
                                                      </span>
                                              </div>
                                          </div>
                                      </header>
                                      <hr>
                                      <div class="">
                                          <div class="gal_item" role="button" tabindex="-1">
                                              <div class="" style="width: 100%;">
                                                  <img alt="Photographers Photo" class="" style="object-fit: cover;width: 100%;" src="/assets/images/ph4.jpg">
                                                  <div class="gal_caption">Karabo Adams</div>
                                                  <span class="gal_magnify"></span>
                                              </div>
                                          </div>
                                      </div>
                                  </article>
                              </div>
                              <div class="grid_4">
                                  <article class="" role="presentation" tabindex="-1">
                                      <header class="">
                                          <div class="">
                                              <div class="" aria-disabled="false" role="button" tabindex="0">
                                                  <span class="_2dbep " role="link" style="width: 52px; height: 52px;">
                                                          <img alt="profile image" class="" style="padding-top: 10px; padding-left: 10px; width: 52px; height: 52px; border-radius: 30px;" data-testid="user-avatar" draggable="false"
                                                          src="/assets/images/ph5.jpg">
                                                      </span>&nbsp;
                                                  <span class="">
                                                          <a class="" href="/assets/images/ph5.jpg" tabindex="0"
                                                          style="padding-top: 50px;color: white;">Kopano Sibiya</a>
                                                      </span>
                                              </div>
                                          </div>
                                      </header>
                                      <hr>
                                      <div class="">
                                          <div class="gal_item" role="button" tabindex="-1">
                                              <div class="" style="width: 100%;">
                                                  <img alt="Photographers Photo" class="" style="object-fit: cover;width: 100%;" src="/assets/images/ph5.jpg">
                                                  <div class="gal_caption">Kopano Sibiya</div>
                                                  <span class="gal_magnify"></span>
                                              </div>
                                          </div>
                                      </div>
                                  </article>
                              </div>
                              <div class="grid_4">
                                  <article class="" role="presentation" tabindex="-1">
                                      <header class="">
                                          <div class="">
                                              <div class="" aria-disabled="false" role="button" tabindex="0">
                                                  <span class="_2dbep " role="link" style="width: 52px; height: 52px;">
                                                          <img alt="profile image" class="" style="padding-top: 10px; padding-left: 10px; width: 52px; height: 52px; border-radius: 30px;" data-testid="user-avatar" draggable="false"
                                                          src="/assets/images/ph6.jpg">
                                                      </span>&nbsp;
                                                  <span class="">
                                                          <a class="" href="/assets/images/ph6.jpg" tabindex="0"
                                                          style="padding-top: 50px;color: white;">Lebogang Mutaung</a>
                                                      </span>
                                              </div>
                                          </div>
                                      </header>
                                      <hr>
                                      <div class="">
                                          <div class="gal_item" role="button" tabindex="-1">
                                              <div class="" style="width: 100%;">
                                                  <img alt="Photographers Photo" class="" style="object-fit: cover;width: 100%;" src="/assets/images/ph6.jpg">
                                                  <div class="gal_caption">Lebogang Mutaung</div>
                                                  <span class="gal_magnify"></span>
                                              </div>
                                          </div>
                                      </div>
                                  </article>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </section>
      <!--==============================Bot_block=================================-->
      <section class="bottom_block">
          <div class="container">
              <div class="row">
                  <div class="grid_5">
                      <div class="bot_title">
                          <span class="fa fa-envelope-o"></span>Subscribe to My Events
                      </div>
                  </div>
                  <div class="grid_7">
                      <form id="newsletter">
                          <div class="row">
                              <div class="" style="width: 370px;">
                                  <div class="rel">
                                      <div class="success">Your subscrsibe request has been sent!</div>
                                      <label class="email">
                                              <input type="email" value="Your Email Address Here" >
                                              <span class="error">*This is not a valid email address.</span>
                                              <span class="clear"></span>
                                          </label>
                                  </div>
                              </div>
                              <div class="grid_3">
                                  <a href="#" class="btn bt__2" data-type="submit">Submit</a>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </section>
  </div>
  <!--==============================footer=================================-->
  <footer>
      <div class="container">
          <div class="row">
              <div class="grid_12">
                  <div class="footer_socials">
                      <a href="#" class="fa fa-twitter"></a>
                      <a href="#" class="fa fa-facebook"></a>
                      <a href="#" class="fa fa-google-plus"></a>
                      <a href="#" class="fa fa-pinterest"></a>
                  </div>
                  <div class="copy">
                      <span class="brand">Blue Novelty</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
                      <div class="sub_copy">
                          Developed by <a href="http://www.mitconsulting.co.za" rel="nofollow">mitconsulting.co.za</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
