<!--==============================header=================================-->
<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <h1 id="logo" (click)="nav('')">Blue Novelty</h1>
                    <div class="search">
                        <form class="example" action="/action_page.php">
                            <!--<input type="text" placeholder="Search.." name="search">-->
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="menu_block">
                        <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                            <ul class="sf-menu" *ngIf="!check_login">
                                <!--<li><a class="btn btn-primary" (click)="nav('login')">LOGIN</a></li>
                                  <li><a class="btn btn-primary" (click)="nav('sign-up')">SIGN UP</a></li>
                                  <li><a (click)="nav('sign-up')">PHOTOGRAPHERS</a></li>
                                  <li><a  (click)="nav('sign-up')">HOW TO REGISTER</a></li>-->
                                <li><a (click)="nav('login')">LOGIN </a></li>
                                <li><a (click)="nav('sign-up')">SIGN UP</a></li>
                                <li><a (click)="nav('sign-up')">PHOTOGRAPHERS</a></li>
                                <li><a (click)="nav('sign-up')">HOW TO REGISTER</a></li>
                            </ul>
                            <ul class="sf-menu" *ngIf="check_login">
                                <li><a (click)="logout()">LOGOUT </a></li>
                            </ul>
                        </nav>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main"><br>
    <hr>
    <div class="tutorial_holder">
        <img src="/assets/images/home1.jpg" class="profile_image">
    </div><br><br>

    <!--=====================Content======================-->
    <!-- <center> -->

    <!-- </center> -->
    <br>
    <hr>
    <br>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="gallery_main">
                    <div class="gallery2">
                        <a target="_blank" href="assets/images/photographer-selecting-photos-RZPRBXK.jpg">
                            <img src="assets/images/photographer-selecting-photos-RZPRBXK.jpg" alt="Cinque Terre">
                        </a>
                        <div class="desc">
                            <a (click)="nav('profile')">View Profile</a> |
                            <a (click)="nav('profile')">Book Now</a>

                        </div>
                    </div>

                    <div class="gallery2">
                        <a target="_blank" href="assets/images/page4_img1.jpg">
                            <img src="assets/images/page4_img1.jpg" alt="Forest">
                        </a>
                        <div class="desc"> <a (click)="nav('profile')">View Profile</a> |
                            <a (click)="nav('profile')">Book Now</a>
                        </div>
                    </div>

                    <div class="gallery2">
                        <a target="_blank" href="assets/images/professional-female.jpg">
                            <img src="assets/images/professional-female.jpg" alt="Northern Lights">
                        </a>
                        <div class="desc">
                            <a (click)="nav('profile')">View Profile</a> |
                            <a (click)="nav('profile')">Book Now</a>
                        </div>

                    </div>

                    <div class="gallery2">
                        <a target="_blank" href="assets/images/casourel3.jpg">
                            <img src="assets/images/casourel3.jpg" alt="Mountains">
                        </a>
                        <div class="desc">
                            <a (click)="nav('profile')">View Profile</a> |
                            <a (click)="nav('profile')">Book Now</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--==============================Bot_block=================================-->
    <section class="bottom_block">
        <div class="container">
            <div class="row">
                <div class="grid_5">
                    <div class="bot_title">
                        <span class="fa fa-envelope-o"></span>Subscribe to My Events
                    </div>
                </div>
                <div class="grid_7">
                    <form id="newsletter">
                        <div class="row">
                            <div class="" style="width: 370px;">
                                <div class="rel">
                                    <div class="success">Your subscrsibe request has been sent!</div>
                                    <label class="email">
                                              <input type="email" value="Your Email Address Here" >
                                              <span class="error">*This is not a valid email address.</span>
                                              <span class="clear"></span>
                                          </label>
                                </div>
                            </div>
                            <div class="grid_3">
                                <a href="#" class="btn bt__2" data-type="submit">Submit</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<!--==============================footer=================================-->
<footer>
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <div class="footer_socials">
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-google-plus"></a>
                    <a href="#" class="fa fa-pinterest"></a>
                </div>
                <div class="copy">
                    <span class="brand">Blue Novelty</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
                    <div class="sub_copy">
                        Developed by <a href="http://www.mitconsulting.co.za" rel="nofollow">mitconsulting.co.za</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>